html {
    cursor: url('https://i.ibb.co/MZLmDQT/small.png'), auto;
}
 body {
     background-color: #36393F; /**/
    
 }

 .hey {
     text-align: center;
     color: white;
     font-family: 'Maven Pro', sans-serif;
    
 }


 
.button {
    display: inline-flex;
    height: 50px;
    width: 500px;
    padding: 0;
    background: #36393F;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin: 0;
    cursor: url('https://i.ibb.co/Yj9ypL7/smallgrab.png'), auto;
  
}









.button:hover {
    background: #303338;
    cursor: url('https://i.ibb.co/Yj9ypL7/smallgrab.png'), auto;
}
.button:active {
    background: #181818;
    cursor: url('https://i.ibb.co/Yj9ypL7/smallgrab.png'), auto;
}
.button__text,
.button__icon {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: white;
    height: 100%;
}
.button__icon {
    font-size: 1.5em;
    background: rgba(0, 0, 0, 0.08);
}
a {
    color: inherit;
    text-decoration: none;
}

